<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site-Parcours-Randonnée">
        <meta name="author" content="Yves-Jullian-OMar">
        <title>{% block title %}WildRando{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/wildrandoCss/footer.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/wildrandoCss/styles.css') }}">
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('/wildrandoJs/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/wildrandoJs/initMaps.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn52jFrq8R0F1RoukKhtsjINbPDa1v984&callback=initMap"></script>#}
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
        
        </script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid wrapper">
            <div class="carousel slide carousel-fade" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                    </div>
                    <div class="item">
                    </div>
                    <div class="item">
                    </div>
                </div>
            </div>
        {% block menu %}{% endblock %}
        {% block body %}{% endblock%}
        {% block fos_user_content %}{% endblock %}   
        {% block accueil %}{% endblock %}
        {% block section %}{% endblock %}  
        {% block footer %}{% endblock %}
        </div>
    </body>
</html>
