{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ma randonnée</h1>

    {#<div class="panel panel-primary">#}
        {#<div class="panel-heading"><h3 class="panel-title">Montitre</h3></div>#}
        {#<div class="panel-body">Contenu</div>#}
    {#</div>#}


    <div class="panel panel-primary">
        <table>
            <tbody>
                <tr>
                    {#<th>Id</th>#}
                    {#<td>{{ montrek.id }}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">N°</h3></div>
                    <div class="panel-body">{{ montrek.id }}</div>
                </tr>
                <tr>
                    {#<th>Jour</th>#}
                    {#<td>{% if montrek.jour %}{{ montrek.jour|date('Y-m-d') }}{% endif %}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Date</h3></div>
                    <div class="panel-body">{% if montrek.jour %}{{ montrek.jour|date('d-m-Y') }}{% endif %}</div>
                </tr>
                <tr>
                    {#<th>Temps réalisé</th>#}
                    {#<td>{% if montrek.temps %}{{ montrek.temps|date('H:i:s') }}{% endif %}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Temps réalisé</h3></div>
                    <div class="panel-body">{% if montrek.temps %}{{ montrek.temps|date('H:i:s') }}{% endif %}</div>
                </tr>
                <tr>
                    {#<th>Départ</th>#}
                    {#<td>{% if montrek.depart %}{{ montrek.depart|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Départ  (date & heure)</h3></div>
                    <div class="panel-body">{% if montrek.depart %}{{ montrek.depart|date('d-m-Y H:i:s') }}{% endif %}</div>
                </tr>
                <tr>
                    {#<th>Arrivée</th>#}
                    {#<td>{% if montrek.arrivee %}{{ montrek.arrivee|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Arrivée  (date & heure)</h3></div>
                    <div class="panel-body">{% if montrek.arrivee %}{{ montrek.arrivee|date('d-m-Y H:i:s') }}{% endif %}</div>
                </tr>
                <tr>
                    {#<th>Indice Méteo</th>#}
                    {#<td>{{ montrek.meteo }}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Indice Méteo</h3></div>
                    <div class="panel-body">{{ montrek.meteo }}</div>
                </tr>
                <tr>
                    {#<th>Metéo</th>#}
                    {#<td>{{ montrek.meteotxt }}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Metéo  (description)</h3></div>
                    <div class="panel-body">{{ montrek.meteotxt }}</div>
                </tr>
                <tr>
                    {#<th>Randonneur</th>#}
                    {#<td>{{ montrek.randonneur.username }}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Randonneur</h3></div>
                    <div class="panel-body">{{ montrek.randonneur.username }}</div>
                </tr>
                <tr>
                    {#<th>Randonnée</th>#}
                    {#<td>{{ montrek.randonnee.libelle }}</td>#}
                    <div class="panel-heading"><h3 class="panel-title">Randonnée</h3></div>
                    <div class="panel-body">{{ montrek.randonnee.libelle }}</div>
                </tr>
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('montrek_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('montrek_edit', { 'id': montrek.id }) }}">Modification</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Suppression">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
