{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rando</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rando.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ rando.libelle }}</td>
            </tr>
            <tr>
                <th>Depart</th>
                <td>{{ rando.depart }}</td>
            </tr>
            <tr>
                <th>Arrivee</th>
                <td>{{ rando.arrivee }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ rando.type }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ rando.niveau }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ rando.distance }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{% if rando.duree %}{{ rando.duree|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>URL KML</th>
                {#<td>{{ rando.fickml }}</td>#}
                {#<td><a class="fickml_rando" href="{{ asset('uploads/fileskml/')}}{{ rando.fickml }}">KML</a></td>#}
                <td><a class="urlkml_rando" href="{{ rando.fickml }}">URL</a></td>
            </tr>
            <tr>
                <th>Photo de la rando</th>
                {#<td>{{ rando.photo }}</td>#}
                <td><img class="image_rando" src="{{ asset('uploads/photosrandos/')}}{{ rando.photo }}"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rando_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rando_edit', { 'id': rando.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
